*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #e4dfe5;
}
.navbar{
    background-color: #e4dfe5;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
   /* padding: 10px 20px;*/

}
.navbar-logo {
    height: 150px;
    width: 150px;
    background-image: url(logo2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-left: -40%;
    
}
/*img{
    width: 100px;
    font-weight: bold;
    align-items: center;

}*/
.navbar-menu{
    list-style: none;
    display: flex;
    gap:20px
}
.navbar-menu li{
    position: relative;
}
.navbar-menu a{
    color:#080708;
    text-decoration: none;
    padding: 5px 10px;
    transition: background-color 0.3s color 0.3s;
}
.navbar-menu a:hover{
    background-color: #555;
    border-radius: 5px;
    color:#ffdd57
}
.h1{
    margin-left: 20px;
    color: #efcf51;
    border-radius: 100px;
    padding: auto;
    
}
.template{
    margin-left: 50%;
}




.temp {
    width: 600px;
    height: 450px;
    
    position: absolute;
    right: 14%;
    top: 30%;
}
.p{
    padding-top:6% ;
    margin-left: 20px;
}

.btn {
    width: 150px;
    height: 50px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-left: 20px;
    margin-top: 12px;
}
.btn button{
    width: 100px;
    height: 50px;
    /* padding: 2%; */
    /* margin-left: 30px; */
    background-color: #efcf51;
    border: none;
    /* border-radius: 15%; */
    cursor: pointer;
    /* border: 2px; */
    /* border: #080708; */

}